/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*::before,
*::after {
  box-sizing: border-box;
}

#welcome-page { 
    margin: 0;
    text-align: center;
    background-image: url('https://i.postimg.cc/3RkWFjxX/temp-Image8uv7-Io.avif'); 
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.logo-primary {
    display: block;
    width: 600px; 
    height: auto;
    margin-top: 2rem;
}

#welcome-page > h1 {
    font-size: 100px;
    font-family: "Bungee", "Open Sans";
    color: white;
    font-style: inherit;
    margin-top: 1em;
    text-shadow: 5px 5px 10px black;
}

#start-btn {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 24px;
    background-color: #1F396F;
    color: white;
    border-radius: 2px 2px 2px 2px;
    padding: 0.5em 1em;
    margin-top: 1em;
}

#stay {
    height: 20vh;
    background-color: rgba(15,49,71,1);
}

#choose-divetype, #diving-avatar {
    height: 80vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(15,49,71,1) 100%);
    margin: 0;
    padding: 2rem;
}


.logo-secondary {
    display: block;
    width: 150px;
    padding: 1rem 1rem 1rem 2rem;
}

h5 {
    display: flex;
    width: 200px;
    justify-content: center;
    font-size: 16px;
    font-family: "Bungee", "Open Sans";
    color: white;
    margin: 0 1rem 1rem 1rem;
}

#process-bar {
    display: flex;
    margin: 2em 10em 0 10em;
    justify-content: space-around;
}

h2 {
    color: white;
    font-size: 48px;
    font-family: 'Bungee','Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

h4 {
    color: white;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 40px;
}

.info {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    color: white;
    padding: 0.5rem;
    width: 35ch; 
    margin: 3rem auto 0 auto;
    text-align: justify;
}

.card {
    grid-column: 2/ 3;
    grid-row: 1;
    background-image: url('https://i.postimg.cc/zv8TCn7X/temp-Image-Fqaj-Ez.avif');
    background-size: 150%;
    background-position: center;
    height: 600px;
    width: 400px;
    font-size: 18px;
}

.card:first-of-type {
    grid-column: 1/ 2;
    grid-row: 1;
    background-image: url('https://i.postimg.cc/gkpTmHrM/temp-Imageu-Dojwu.avif');
    background-position: bottom center;
    justify-self: right;
}

a:link {
    opacity: 20%;
}

a:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

#scuba-btn, #free-btn {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border: transparent;
    color: white;
    margin: 5em auto auto auto;
    display: flex;
    justify-content: center;
}

#free-btn {
    margin: 6.25em auto auto auto;
    color: black;
}

.customize {
    grid-column: 1/ 2;
    justify-self: right;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    gap: 1rem;
    background-color: gray;
    color: white;
    width: 500px;
    height: 600px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.choice {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin: 0 auto 1rem auto ;
}

input[type="range"] {
    width: 400px;
    margin-top: 0;
}

label[for="skin-tone"], label[for="sex"] {
    opacity: 100%;
    margin: 8rem 2rem 1rem 2rem;
    font-weight: bold;
}

.people {
    display: flex;
    grid-column: 2/ 3;
    grid-row: 1;
}