/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}

h1, h2, h4, h5, h6, p, button {
  color: white;
}

h1, h2, h5, strong {
  font-family: 'Bungee', 'Open Sans', sans-serif;
}

h3, h4, h6, p, button, figcaption {
  font-family: 'Open Sans', sans-serif;
}

#welcome-page {
  text-align: center;
  background-image: url('https://i.postimg.cc/3RkWFjxX/temp-Image8uv7-Io.avif');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.logo-primary {
  display: block;
  width: 600px;
  height: auto;
  margin-top: 2rem;
}

h1 {
  font-size: 100px;
  margin-top: 1em;
  text-shadow: 5px 5px 10px black;
}

#start-btn {
  font-weight: bold;
  font-size: 24px;
  background-color: #1F396F;
  border-radius: 2px;
  padding: 0.5em 1em;
  margin-top: 1em;
}

a:link {
  text-decoration: none;
}


.main {
  height: 100vh;
  width: 100%;
  display: none;
}


#stay {
  height: 10vh;
  background-color: rgba(15,49,71,1);
  display: flex;
}

nav {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
  margin: 0 2em 0 auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
  font-family: 'Open Sans', sans-serif;
}

li a:link, li a:visited {
  color: white;
}

li a:hover {
  color: yellow;
}

.container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(15,49,71,1) 100%);
}

.container:nth-of-type(2) {
  width: 1550px;
  display: grid !important;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100px auto;
}

.logo-secondary {
  display: flex;
  width: 80px;
  padding: 0.5em 3em 0 3em;
}

h5 {
  display: flex;
  width: 180px;
  justify-content: center;
  font-size: 14px;
  margin-top: 0.5em;
}

h2 {
  font-size: 48px;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

#prevBtn1, #nextBtn1, #prevBtn2, #nextBtn2, #prevBtn3, #dive  {
  font-weight: bold;
  font-size: 20px;
  border-radius: 2px;
  width: fit-content;
  height: 50px;
  padding: 0.5em 1em;
  margin: auto 5em;
}


#prevBtn1, #prevBtn2, #prevBtn3 { 
  background-color: grey;
}

#nextBtn1, #nextBtn2, #dive {
  background-color: tomato;
}

.control {
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 24px;
  margin-top: 0.5em;
}

#popup, #instructions-scuba, #instructions-free {
  position: absolute;
  top: 40%;
  left: 35%;
  width: 30%;
  height: 20%; 
  background-color: #81C1CE;
  padding: 0.5em 1em;
  text-align: center;
  z-index: 4; 
  cursor: pointer; 
  border-radius: 15px;
  color: black;  
}

#popup > p, #instructions-scuba > p, #instructions-free > p {
  font-size: 24px;
  margin-top: 0;
  color: black;
}

#popup > button, #instructions-scuba > button, #instructions-free > button {
  font-weight: bold;
  font-size: 18px;
  background-color: #1F396F;
  border-radius: 2px;
  padding: 0.5em 1em;
}

.slick-dots {
  list-style-type: none;
  display: flex;
  position: absolute;
  top: -20px;
  left: 42.5%;
  width: 200px;
  justify-content: space-evenly;
}

h4 {
  font-size: 30px;
  margin: 1em;
}

p {
  font-size: 16px;
}

.nested-content {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  max-width: 80%;
  margin: 0 auto;
  padding: 0;
}

#free-btn, #scuba-btn {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 400px;
  border: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 7em;
}

#free-btn p, #scuba-btn p {
  max-width: 50%;
  margin: 2em;
}

#free-btn > h4, #free-btn > p {
  margin: 1em 1em 1em auto;
  text-align: right;
}

#free-btn {
  background-image: url(../images/freediving.png);
}

#scuba-btn {
  background-image: url(../images/scubadiver.png);
  justify-self: right;
}

.slider-list-1 img, .slider-list-2 img {
  display: block;
  margin: 1em auto;
}

.slider-list-1, .slider-list-2 {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr ;
  grid-template-rows: 30% 25% 30%;
  width: 80%;
  gap: 10px;
  margin: auto;
}

.slider-list-2 {
  margin: auto 2em auto 2em;
}

input[type="checkbox"] {
  width: 0; 
  height: 0; 
  opacity: 0; 
}

.slick-prev, .slick-next {
  display: none !important;
}


label p {
  display: flex;
  width: 30ch;
  justify-content: center;
  text-align: center;
  margin: 0.5em auto 0 auto;
}

h6 {
  font-size: 18px;
  margin: auto;
  text-align: center;
}

label[for="shortFins-checkbox"] img {
  height: 100px;
  margin-top: 2em;
}

label[for="bcd-checkbox"] img {
  width: 120px;
  padding: 10px;
}

.checked {
  opacity: 0.25;
}

#bcd-display > img {
  width: 92%;
}

#bcd-display {
  position: fixed;
  top: 21vh;
  left: 27.5%;
  z-index: 3;
}

#booties-display {
  position: fixed;
  top: 78vh;
  left: 27.3%;
  z-index: 3;
}

#booties-display > img {
  width: 92%;
}

label[for="mask-checkbox"] img, label[for="freemask-checkbox"] img, label[for="diveComputer-checkbox"] img, label[for="freediveComputer-checkbox"] img , label[for="regulator-checkbox"] img {
  width: 150px;
  padding: 10px;
}

label[for="mask-checkbox"] img, label[for="freemask-checkbox"] img {
  margin: 1em auto 0 auto;
}


#mask-display > img {
  width: 26%;
}

#mask-display {
  position: fixed;
  top: 13.5vh;
  left: 27.15%;
  z-index: 3;
}

#shortFins-display > img {
  width: 26%;
}

#shortFins-display {
  position: fixed;
  top: 55.5vh;
  left: 22.5%;
  transform: rotate(90deg);
  z-index: 1;
}

label[for="snorkel-checkbox"] img, label[for="booties-checkbox"] img, label[for="freesnorkel-checkbox"] img  {
  width: 170px;
  margin-top: 1em;
}

#snorkel-display > img {
  width: 18%;
  transform: rotate(-90deg);
}

#snorkel-display {
  position: fixed;
  top: 14vh;
  left: 23.7%;
  z-index: 3;
}

label[for="surface-checkbox"] img {
  width: 250px;
  padding: 10px;
  margin: 1em auto auto auto;
}

label[for="weight-checkbox"] img, label[for="freeweight-checkbox"] img {
  height: 120px;
  padding: 10px;
}

#regulator-display > img {
  width: 10%;
}

#regulator-display {
  position: fixed;
  top: 16vh;
  left: 22.9%;
  z-index: 3;
}

#weight-display > img{
  width: 10%;
  transform: rotate(90deg);
}

#weight-display {
  position: fixed;
  top: 45vh;
  left: 27%;
  z-index: 3;
}

#surface-display > img {
  width: 25%;
  transform: rotate(90deg);
}

#surface-display {
  position: fixed;
  top: 22vh;
  left: 23.5%;
  z-index: 1;
}

#diveComputer-display > img {
  width: 120%;
}

#diveComputer-display {
  position: fixed;
  top: 43vh;
  left: 31.45%;
  z-index: 2;
}
.slider-list-1 .avatar, .slider-list-2 .avatar {
  display: block;
  grid-column: 1/ 2;
  grid-row: 1/ 4;
  width: 330px;
  height: 742.5px;
  z-index: 2;
  background-image: url(../images/avatar.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


label[for="longFins-checkbox"] img {
  margin-top: 1em;
}

#freemask-display img {
  width: 25%;
}

#freemask-display {
  position: absolute;
  top: 14vh;
  left: 50.37%;
  z-index: 3;
}

#longFins-display img {
  width: 100%;
}

#longFins-display {
  position: absolute;
  top: 47vh;
  left: 67%;
  z-index: 1;
}

#freesnorkel-display img {
  width: 21%;
  transform: rotate(-90deg);
}

#freesnorkel-display {
  position: absolute;
  top: 13vh;
  left: 3375px;
  z-index: 3;
}

#freeweight-display img {
  width: 10%;
  transform: rotate(90deg);
}

#freeweight-display {
  position: absolute;
  top: 42vh;
  left: 56.5%;
  z-index: 3;
}

#freediveComputer-display {
  position: absolute;
  top: 42vh;
  left: 71.25%;
  z-index: 3;
}

.slider-list-3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-columns: auto;
  justify-self: center;
  text-align: center;
}
.slider-list-3 > p {
  grid-column: 1/ 3;
  margin: 0.5em auto 5em auto;
  max-width: 70cap;
  font-size: 22px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: bisque;
  padding: 1em;
  border-radius: 20px;
  width: 500px;
}

figure > div, #the-red > div {
  background-color: red;
  border: 10px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#simulation {
  margin: 3em auto;
  width: 1300px;
  height: 800px;
  border: 1px solid grey;
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, #022244, #58c8da);
}


#scubaicon {
  width: 150px;
  position: absolute;
  transform: translate(-50%, -50%), rotate(0deg);
  transition: transform 0.2s ease;
  z-index: 3;
}

#simulation > img:nth-of-type(2) {
  width: 200px;
  position: absolute;
  top: 600px;
  left: 260px;
  z-index: 2;
}

#simulation > img:nth-of-type(3) {
  width: 430px;
  position: absolute;
  top: 500px;
  z-index: 1;
}

#simulation > img:nth-of-type(4) {
  width: 650px;
  opacity: 30%;
  position: absolute;
  top: 300px;
  left: 620px;
}

.bubbles {
  width: 100%;
  height: 100vh;
  animation: bubbles 10s linear infinite;
  z-index: 3;
}

    @keyframes bubbles {
      0%, 100% {transform: rotate(-5deg);}
      50% {transform: rotate(5deg);}
    }

.bubbles span {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -10%;
  animation: bubble 10s ease-in-out infinite;
}

    @keyframes bubble {
      0% {bottom: -10%; opacity: 0;}
      100% {bottom: 100%;}
    }

.bubbles span:nth-child(1) {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  left: 10%;
  animation-delay: 3s;
  animation-duration: 10s;
  opacity: 0.2;
}

.bubbles span:nth-child(2) {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 5s;
  opacity: 0.1;
}

.bubbles span:nth-child(3) {
  width: 10px;
  height: 10px;
  opacity: 0.5;
  left: 50%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubbles span:nth-child(4) {
  width: 35px;
  height: 35px;
  opacity: 0.5;
  left: 60%;
  animation-delay: 8s;
  animation-duration: 8s;
  opacity: 0.2;
}

.bubbles span:nth-child(5) {
  width: 45px;
  height: 45px;
  opacity: 0.5;
  left: 70%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.bubbles span:nth-child(6) {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.4;
}

.bubbles span:nth-child(7) {
  width: 15px;
  height: 15px;
  opacity: 0.5;
  left: 90%;
  animation-duration: 25s;
  opacity: 0.3;
}

.bubbles span:nth-child(8) {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  left: 20%;
  animation-duration: 10s;
  opacity: 0.2;
}

#movement {
  display: grid;
  grid-template-columns:55px 55px 55px;
  grid-template-rows: 55px 55px 55px;
  position: absolute;
  top: 62vh;
  left: 80%;
  gap: 2px;
  place-items: center;
}

#movement button {
  background-color: transparent;
  border: none;                 
  padding: 0;                  
  width: 50px;                  
  height: 50px; 
  transition: transform 0.5s ease;      
}

#movement button:active {
  transform: scale(1.1);
}


#movement img {
  width: 50px;
}

#up-Btn {
  grid-column: 2;
}

#down-Btn {
  grid-row: 3;
  grid-column: 2;
}

#left-Btn {
  grid-column: 1;
}

#right-Btn {
  grid-column: 3;
  grid-row: 2;
}

#movement > #the-red > div {
  grid-column: 2;
  grid-row: 2;
  border: 5px solid #ccc;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  place-items: center;
}
/* Media query for screens*/
@media (max-width: 400px) and (max-height: 860px) {
  html, body, .main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .logo-primary {
    width: 300px; 
    max-width: 90%;
  }

  h1 {
    font-size: 50px; /* Reduced font size for better fit */
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 1em 0; /* Add spacing above and below */
  }

  #stay {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
    padding: 1em 0 0 0 ;
  }

  nav {
    display: flex;
    font-size: 12px;
    line-height: 1.4;
    align-items: flex-end;
  }

  nav ul {
    gap: 25px;
  }

  .logo-secondary {
    display: block;
    padding: 0 1.5em
  }

  h6 {
    display: block;
    margin-bottom: 0;
  }

  .container {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 28px;
    width: 380px;
    display: block;
    text-align: center;
    line-height: 1.2;
  }

  .nested-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em; /* Add spacing between nested items */
  }

  #scuba-btn, #free-btn {
    width: 100%; /* Buttons occupy full width */
    max-width: 300px; /* Prevent buttons from exceeding layout */
    height: 300px; /* Adjusted height for smaller screens */
    margin: 0.5em 0 1em 0; 
    background-size: cover;
  }

  #scuba-btn {
    background-position: right; 
  }

  #free-btn {
    background-position: left;
  }

  h5 {
    font-size: 10px;
    width: 15cap;
    margin: 0.5em 3em;
  }

  h4 {
    font-size: 20px;
    margin: 0.5em;
  }

  #free-btn > h4 {
    margin: 0.5em 0.5em 0.5em auto;
  }

  #scuba-btn > p, #free-btn > p {
    max-width: 180px;
    font-size: 13px; 
    line-height: 1.4;
  }

  #scuba-btn > p {
    margin: 0.5em;
  } 
  
  #free-btn > p {
    margin: 0.5em 0.5em 0.5em auto;
  }

  .slick-slider {
    width: 100%; 
    display: block;
  }

  /*.slick-track {
    display: flex;
  }*/

  .slick-slide {
    width: calc(100% - 20px); /* Responsive slide width with margins */
    box-sizing: border-box; /* Prevent overflow */
  }

  .slick-dots {
    display: none;
  }

  #prevBtn1, #nextBtn1, #prevBtn2, #nextBtn2, #prevBtn3, #dive  {
    font-size: 13px;
    height: 40px;
  }

  .slider-list-1 {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: scroll; 
    padding: 0.5em;
  }

  .avatar > img {
    margin: auto;
  }



}
